extends layout

block content
    .mainSlider
        .wrapper
            img.imgSlider.fade(src='/images/slider/background2.jpeg')
            img.imgSlider.fade(src='/images/slider/background.png')
            img.imgSlider.fade(src='/images/slider/background.jpg')
            img.imgSlider.fade(src='/images/slider/background3.jpg')
            img.imgSlider.fade(src='/images/slider/background2.jpeg')
            img.imgSlider.fade(src='/images/slider/background6.jpg')
            .dots
            .textSlider
                h2 Miles de lugares para visitar y disfrutar 
                p Medellín es el lugar para compartir, soñar y disfrutar los momentos mas increibles de tu vida.
            span.next-prev.left(onclick='changeSlider(-1, "next")') <
            span.next-prev.right(onclick='changeSlider(1, "next")') > 
    nav.mainNav
        ul
            li Centros comerciales 
            li Historia y cultura
            li Al aire libre
            li Restaurantes
            li Diversion
            li Moda
    .mainInfo
        .wrapperInfo
            .cardInfo.itemInfo
                h3 Lugares para soñar
                p 
                    |Si estás de paseo por Colombia, no puedes dejar de visitar los sitios turísticos de Medellín, cuna de grandes artistas como Fernando Botero, museos y espacios culturales para disfrutar del arte. Además, por estar anclada en el Valle de Aburrá, es una zona rica en bosques, lagunas y parques. No tendrás que preocuparte de qué hacer en Medellín, pues su oferta turística es muy amplia. 
            img.itemInfo(src='/images/background9.png', title='Medellín Turistico')

            img.itemInfo(src='/images/background10.jpg', title='Medellín Turistico')
            .cardInfo.itemInfo
                h3 Lugares para soñar
                p 
                    |Si estás de paseo por Colombia, no puedes dejar de visitar los sitios turísticos de Medellín, cuna de grandes artistas como Fernando Botero, museos y espacios culturales para disfrutar del arte. Además, por estar anclada en el Valle de Aburrá, es una zona rica en bosques, lagunas y parques. No tendrás que preocuparte de qué hacer en Medellín, pues su oferta turística es muy amplia. 

    script(src='/javascripts/main.js')
