<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="icon" href="/images/icons/chiva.ico" type="image/ico"/>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<header>
	  <div class="logo"><a href="/">
		  <h1>Todo en Medellín  </h1></a></div>
	  <nav class="mainMenu">
		<ul>
		  <li> <a href="/">Inicio</a></li>
		  <li> <a href="/establecimientos">Establecimientos </a></li>
		  <li> <a href="/contacto">Contacto</a></li>
		  <li> <a href="/sobre_nosotros">Sobre Nosotros</a></li>
		</ul>
	  </nav>
	</header>
   <mainSlider>
      <wraper>
	      <img class="imgSlider fade" src="/images/slider/background2.jpeg" alt="Medellín para soñar">
	      <img class="imgSlider fade" src="/images/slider/background.png" alt="Medellín para soñar">
	      <img class="imgSlider fade" src="/images/slider/background.jpg" alt="Medellín para soñar">
	      <img class="imgSlider fade" src="/images/slider/background3.jpg" alt="Medellín para soñar">
	      <img class="imgSlider fade" src="/images/slider/background6.jpg" alt="Medellín para soñar">
	      <img class="imgSlider fade" src="/images/slider/background2.jpeg" alt="Medellín para soñar">
		  <div class="dots"></div>
		  <textSlider>
		  	<h2>Miles de lugares para visitar y disfrutar</h2>
		  	<p> Medellín es el lugar ideal para compartir, soñar y deisfrutar los momentos mas increibles de tu vida</p>
		  </textSlider>
	  </wraper>
   </mainSlider>
   <nav class="mainNav">
   	<ul>
   		<li>Centros comerciales</li>
   		<li>Historia y cultura</li>
   		<li>Al aire libre</li>
   		<li>Restaurantes</li>
   		<li>Diversión</li>
   		<li>Moda</li>
   	</ul>
   </nav>
   <div class="mainInfo">
   	   <div class="wrapperInfo">
   	    	<div class="cardIinfo itemInfo">
		    	<h3>Lugares para soñar</h3>
			    <p>Si estás de paseo por Colombia, no puedes dejar de visitar los sitios turísticos de Medellín, cuna de grandes artistas como Fernando Botero, museos y espacios culturales para disfrutar del arte. Además, por estar anclada en el Valle de Aburrá, es una zona rica en bosques, lagunas y parques. No tendrás que preocuparte de qué hacer en Medellín, pues su oferta turística es muy amplia. 
 </p>
		    </div>
			<img class="itemInfo" src="/images/background10.jpg" alt="Medellín turistico">
			<img class="itemInfo" src="/images/background9.png" alt="Medellín turistico">
   	    	<div class="cardIinfo itemInfo">
		    	<h3>Dejate llevar</h3>
			    <p>Si estás de paseo por Colombia, no puedes dejar de visitar los sitios turísticos de Medellín, cuna de grandes artistas como Fernando Botero, museos y espacios culturales para disfrutar del arte. Además, por estar anclada en el Valle de Aburrá, es una zona rica en bosques, lagunas y parques. No tendrás que preocuparte de qué hacer en Medellín, pues su oferta turística es muy amplia. 

</p>
		    </div>
		</div>
	</div>
	<div class="containerMap">
		<div id="main_map"></div>
	</div>
	

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/map.js"></script>
</body>
</html>
