doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title 
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    header
        h1 MedellinTuristico.com 
        nav.mainMenu
            ul
                li 
                    a(href='/') Inicio
                li 
                    a(href='/contacto') Contacto
                li 
                    a(href='/sobre_nosotros') Sobre Nosotros
                li 
                    a(href='/empresas') Empresas
    block content

