<header>
  <div class="logo"><a href="/">
	  <h1>Todo en Medellín  </h1></a></div>
  <nav class="mainMenu">
	<ul>
	  <li> <a href="/">Inicio</a></li>
	  <li> <a href="/establecimientos">Establecimientos </a></li>
	  <li> <a href="/contacto">Contacto</a></li>
	  <li> <a href="/sobre_nosotros">Sobre Nosotros</a></li>
	</ul>
  </nav>
</header>
