    <nav class="mainNav">
      <ul>
        <li>Restaurantes</li>
        <li>Centros comerciales</li>
        <li>Moda</li>
        <li>Historia y cultura</li>
        <li>Al aire libre</li>
        <li>Diversión</li>
      </ul>
    </nav>

