@charset "UFT-8";
* {margin:0;padding:0;}

html {
    scroll-behaivoir: smooth ;
}
::-webkit-scrollbar {
    width: 10px;
		height: 10px;
}
::-webkit-scrollbar-thumb {
    background:#555; 
		border-radius: 10px;
}
$white-color : #fff;
$black-color: #000;
$hight-color: #f45;
$topPadding: 70px;

:root {
    --font-s-small: .8rem; 
 		--font-s-medium: 1.1rem; 
		--font-s-large: 1.2rem;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterCol{
    @include flexCenter;
    flex-direction: column;
}
@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@import 'src/header', 'src/home', 'src/comercios';

body {
}

.hide {
    display: none;
}
.white-c {
    color: $white-color;
}
//clases active
.activeMenu {
    color: $hight-color;
}
