@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behaivoir: smooth;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

$white-color: #ccc;
$black-color: #000;
$hight-color: #f45;
$topPadding: 70px;
:root {
  --font-s-small: 0.8rem;
  --font-s-medium: 1rem;
  --font-s-large: 1.5rem;
  --white-color: #eee;
  --black-color: #000;
  --hight-color: #f45;
  --topPadding: 70px;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexCenterCol {
  @include flexCenter;
  flex-direction: column;
}
@mixin flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import 'src/header', 'src/home', 'src/comercios';


body {
	background: var(--white-color);
font-family: 'dosis', serif;
}


.hide {
  display: none;
}
.white-c {
  color: $white-color;
}
//clases active
.activeMenu {
  color: $hight-color;
}
