* {
  margin: 0;
  padding: 0; }

html {
  scroll-behaivoir: smooth; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px; }

:root {
  --font-s-small: .8rem;
  --font-s-medium: 1.1rem;
  --font-s-large: 1.2rem; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1000; }

header .logo {
  display: flex;
  justify-content: center;
  align-items: center; }

header .logo h1 {
  color: #000; }

header .logo img {
  object-fit: cover;
  width: 35px;
  height: 35px; }

header .mainMenu ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 0 .1rem 0 0; }

header .mainMenu ul li a {
  color: #000;
  transition: .5s;
  text-align: center;
  text-decoration: none;
  padding: 0rem 2rem;
  font-size: var(--font-s-large);
  border-radius: 0 0 0 1rem; }

header .mainMenu ul li a:after {
  content: "";
  position: absolute;
  bottom: -1rem;
  height: 2px;
  left: 50%;
  width: 0;
  display: block;
  background: #f45;
  transition: .5s; }

header .mainMenu ul li a:hover:after {
  width: 100%;
  left: 0; }

header .mainMenu ul li a:hover {
  color: #f45; }

.mainSlider {
  padding: 70px 0 0 0;
  width: 100%;
  height: 500px; }

.mainSlider .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.mainSlider .wrapper .imgSlider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 8s; }

@keyframes fade {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }

.mainSlider .wrapper .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%; }

.mainSlider .wrapper .dots .dot {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: .5rem;
  z-index: 10;
  box-shadow: 0px 2px 2px #000;
  border-radius: 50%;
  transition: .5s; }

.mainSlider .wrapper .dots .b-black, .mainSlider .wrapper .dots .dot:hover {
  background: #f45; }

.mainSlider .wrapper .textSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 3rem;
  width: 100%;
  z-index: 100; }

.mainSlider .wrapper .textSlider h2, .mainSlider .wrapper .textSlider p {
  color: #fff;
  padding: 1rem 0 0 0;
  text-shadow: 0px 2px 2px #000; }

.mainSlider .wrapper .textSlider h2 {
  font-size: 3rem; }

.mainSlider .wrapper .textSlider p {
  font-size: 1.5rem; }

.mainSlider .wrapper .next-prev {
  position: absolute;
  top: 48%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  z-index: 100;
  cursor: pointer;
  transition: .5s; }

.mainSlider .wrapper .next-prev:hover {
  transform: scale(1.05); }

.mainSlider .wrapper .left {
  left: 5px; }

.mainSlider .wrapper .right {
  right: 5px; }

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 68px;
  width: 100%;
  background: #fff;
  box-shadow: 1px 1px 6px  #000; }

.mainNav ul li {
  display: inline-block;
  color: #000;
  list-style: none;
  padding: 1rem;
  margin: .5rem;
  cursor: pointer;
  font-size: var(--font-s-large);
  transition: .5s;
  border-radius: 0 0 0 1rem; }

.mainNav ul li:hover {
  color: #f45; }

.mainNav ul li:nth-child(1) {
  border-left: 2px solid #0f0; }

.mainNav ul li:nth-child(2) {
  border-left: 2px solid #f00; }

.mainNav ul li:nth-child(3) {
  border-left: 2px solid #0af; }

.mainNav ul li:nth-child(4) {
  border-left: 2px solid #fa0; }

.mainNav ul li:nth-child(5) {
  border-left: 2px solid #f0a; }

.mainNav ul li:nth-child(6) {
  border-left: 2px solid #af0; }

.mainInfo {
  padding: 3rem 6rem; }

.mainInfo .wrapperInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.mainInfo .wrapperInfo .cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem; }

.mainInfo .wrapperInfo .cardInfo h3 {
  color: #000;
  padding: 1rem 0 0 0;
  font-size: var(--font-s-large); }

.mainInfo .wrapperInfo .cardInfo p {
  color: #000;
  padding: 1rem;
  font-size: var(--font-s-medium); }

.mainInfo .wrapperInfo img {
  object-fit: cover;
  width: 100%;
  background: #ccc; }

.mainInfo .wrapperInfo .itemInfo {
  margin: 0 0 4rem 0; }

.mainInfo .wrapperInfo .itemInfo:nth-child(1) {
  grid-column: 1/2;
  border-left: 3px solid #f45;
  border-radius: 0 0 0 1rem; }

.mainInfo .wrapperInfo .itemInfo:nth-child(2) {
  grid-column: 2/4; }

.mainInfo .wrapperInfo .itemInfo:nth-child(3) {
  grid-column: 1/3; }

.mainInfo .wrapperInfo .itemInfo:nth-child(4) {
  grid-column: 3/4;
  border-right: 3px solid #f45;
  border-radius: 0 0 1rem 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 70px 0;
  position: relative; }

.container .cardComercio {
  width: 250px;
  margin: 1rem;
  box-shadow: 0px 2px 5px #000;
  border-radius: .5rem;
  overflow: hidden; }

.container .cardComercio .img {
  width: 100%;
  height: 250px;
  overflow: hidden; }

.container .cardComercio .img img {
  width: 100%;
  height: 100%;
  border-radius: .5rem  .5rem 0 0;
  object-fit: cover;
  transition: 1s; }

.container .cardComercio .info {
  padding: .3rem; }

.container .cardComercio:hover .img img {
  transform: scale(1.1); }

.container .buttonNew {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px #000;
  position: absolute;
  top: 120px;
  left: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%; }

.container .buttonNew a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem; }

.hide {
  display: none; }

.white-c {
  color: #fff; }

.activeMenu {
  color: #f45; }
