extends ../layout

block content
  .container
    each establecimiento in establecimientos
      .cardComercio
        .img
          img(src='/images/slider/background.jpg')
        .info
          h1.comercioId= establecimiento.nombre
          p= establecimiento.tipo
          p= establecimiento.descripcion
          p(onclick='showInMap()') Ver en mapa 
          a(href='establecimientos/' + establecimiento.id) Ver detalle 
  script(src='/javascripts/showMap.js')   		  
