header {
  @include flexAround;
  position: fixed;
  background: $white-color;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1000;
  .logo {
    @include flexCenter;
    a {
		text-decoration: none;
		h1 {
			color: $black-color;
		}
	}
	img {
		object-fit: cover;
		width: 35px;
		height: 35px;
	}
}
.mainMenu {
	ul {
		li {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			position: relative;
			list-style: none;
			display: inline-block;
			margin: 0 0.1rem 0 0;
			a {
				color: $black-color;
				transition: 0.5s;
				text-align: center;
				text-decoration: none;
				padding: 0rem 2rem;
				font-size: var(--font-s-large);
				border-radius: 0 0 0 1rem;
				&:after {
					content: '';
					position: absolute;
					bottom: -1rem;
					height: 2px;
					left: 50%;
					width: 0;
					display: block;
					background: $hight-color;
					transition: 0.5s;
				}
				&:hover:after {
					width: 100%;
					left: 0;
				}
				&:hover {
					color: $hight-color;
				}
			}
		}
	}
}

&:hover {
}
}
