.mainSlider {
  padding: $topPadding 0 0 0;
  width: 100%;
  height: 500px;
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .imgSlider {
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: fade 8s;
      @keyframes fade {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.05);
        }
      }
    }
    .wrapper-dots-text {
      @include flexCenterCol;
      position: absolute;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0),
        hsla(0, 0%, 0%, 0.5),
        hsla(0, 0%, 0%, 0.9)
      );
      width: 100%;
      .dots {
        @include flexCenter;
        width: 100%;
        .dot {
          width: 18px;
          height: 18px;
          display: inline-block;
          margin: 0.5rem;
          z-index: 10;
          box-shadow: 0px 0px 6px #888;
          border-radius: 50%;
          transition: 0.5s;
        }
        .b-black,
        .dot:hover {
          background: $hight-color;
          background: #000;
        }
      }
      .textSlider {
        @include flexCenterCol;
        width: 100%;
        z-index: 100;
        h2,
        p {
          color: #fff;
          padding: 1rem 0 0 0;
          text-shadow: 0rem 0rem 0.6rem #000;
          text-align: center;
        }
        h2 {
          font-size: 3rem;
          @media (max-width: $media1) {
            font-size: 2rem;
          }
        }
        p {
          font-size: 1.5rem;
          @media (max-width: $media1) {
            font-size: 1.2rem;
          }
        }
      }
    }
    .next-prev {
      position: absolute;
      top: 48%;
      color: $white-color;
      font-size: 2rem;
      font-weight: bold;
      z-index: 100;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        transform: scale(1.05);
      }
    }
    .left {
      left: 5px;
    }
    .right {
      right: 5px;
    }
  }
}
.mainNav {
  @include flexCenterCol;
  position: sticky;
  top: $topPadding - 2px;
  width: 100%;
  background: var(--white-color);
  z-index: 300;
  ul {
    border-bottom: 2px solid var(--contrast-color);
    @include flexCenter;

    @media (max-width: 1000px) {
      width: 100%;
      justify-content: flex-start;
      overflow: auto;
    }
    li {
      display: inline-block;
      color: $black-color;
      list-style: none;
      padding: 1rem;
      cursor: pointer;
      font-size: var(--font-s-large);
      transition: 0.5s;
      color: var(--black-color);
      border-radius: 0 0 0 1rem;
      margin: 0.5rem 0;
      min-width: 90px;
      @media (max-width: 1000px) {
        padding: 0.5rem;
      }
      @media (max-width: 800px) {
		  font-size: 1.2rem;
      }
      @media (max-width: 400px) {
		  font-size: 1rem;
      }
      &:hover {
        color: $hight-color;
      }
      &:nth-child(1) {
        border-left: 2px solid #0f0;
      }
      &:nth-child(2) {
        border-left: 2px solid #f00;
      }
      &:nth-child(3) {
        border-left: 2px solid #0af;
      }
      &:nth-child(4) {
        border-left: 2px solid #fa0;
      }
      &:nth-child(5) {
        border-left: 2px solid #f0a;
      }
      &:nth-child(6) {
        border-left: 2px solid #af0;
      }
    }
  }
  ul::-webkit-scrollbar {
    height: 2px;
  }
  ul::-webkit-scrollbar-track {
    background: var(--constrast-color);
  }
  ul::-webkit-scrollbar-thumb {
    background: #666;
  }
}
.mainInfo {
  padding: 2rem;
  .titleElement {
    width: 100%;
    padding: 1rem;
    h2 {
      font-size: 3rem;
      color: var(--black-color);
      @media (max-width: 920px) {
        font-size: 2rem;
      }
      @media (max-width: 650px) {
        font-size: 1.5rem;
      }
    }
  }
}
.containerMap {
  @include flexCenter;
  width: 100%;
  #main_map {
    width: 80%;
    height: 600px;
  }
}
.wrapperMapModal {
  @include flexCenter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  .containerMap {
    @include flexCenter;
    width: 100%;
    #main_map {
      width: 80%;
      height: 600px;
    }
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    font-weight: bold;
    background: none;
    border: none;
    color: #fff;
  }
}
